@import url('https://mediaproduction.adelaide.edu.au/uoa-styles/assets/theme.css');

body {
  margin: 0;
  font-size: 16px;
}

#app {
  font-family: 'Made Evolve Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #102535;
  font-size: 1em;
  line-height: 1.7;
}